*{
  margin: 0;
  padding: 0;
  font: white;
}
body {
  background-image: url('../Img/backGroundPage.jpeg');
}
header {
  background-color: purple;
  height: 50px;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#start {
  height: 30px;
  width: 70px;
  margin: 30px;
}
#players {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* div {
  margin: 2px 100px;
} */
#game {
  margin-top: 20px;
}